<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/index2.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="static/logo.jpg" alt="Logo" onclick="window.location.href='/';">
        </div>
        <div class="nav-links">
            <button class="works" onclick="window.open('https://youtu.be/l-AOF3N7eAk?si=6hhTgXjy8Itf9bra', '_blank')">Watch How It Works</button>

            <div class="action">
              <div class="profile" onclick="menuToggle();">
                <img src="static/profile.jpg">
                </div>
              <div class="menu">
                <h3>{{ email }}</h3>
                <ul>
                  <li><img src="static/logout.jpg"><a href="/logout" onclick="showAlertAndLogout();">Logout</a></li>

                </ul>
              </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>
            <span id="ash">Seamlessly</span>
            <span id="blue">Translate</span>
            <span id="blue">Scientific</span>
            <span id="ash">Texts</span>
        </h1>
        <h1>
            <span class="black">from </span>
            <span class="blue1">English</span>
            <span class="black"> to </span>
            <span class="blue1">Bengali</span>
        </h1>
    </div>
    <div class="container">
        <h2>
            <span class="blue">Start</span>
            <span class="ash">your</span>
            <span class="blue">journey</span>
            <span class="ash">of</span>
            <span class="blue">discovery</span>
            <span class="ash">with</span>
            <span class="blue">us</span>
            <span class="ash">and</span>
            <span class="ash">make</span>
            <span class="blue">learning</span>
            <span class="ash">to</span>
            <span class="blue">Science</span>
            <span class="ash">simpler</span>
            <span class="ash">and</span>
            <span class="blue">more</span>
            <span class="ash">accessible</span>
            <span class="blue">!!</span>
        </h2>
    </div>
    <div class="container1">

        <button class="cssbuttons-io-button" onclick="window.location.href='/translation';">
          Get started
          <div class="icon">
            <svg
              height="24"
              width="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
        </button>

    </div>
  <script>
    function menuToggle(){
      const toggleMenu = document.querySelector('.menu');
      toggleMenu.classList.toggle('active')
    }
function showAlertAndLogout() {
    alert("You have been logged out successfully.");

}
  </script>



</body>
</html>